<section data-ng-controller="ProjectsController">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>function name</th>
                <th>lines</th>
                <th>complexity</th>

            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="function in currentFileMetric.functions">

                <td>{{function.name}}</td>
                <td>{{function.size}}</td>
                <td>{{function.complexity}}</td>
            </tr>

            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>

                <th>functions over 50 lines</th>


            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="overLinedfunc in currentFileMetric.overlinedFunctions">

                <td>{{overLinedfunc}}</td>
            </tr>

            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
            <tr>

                <th>functions over 10 complexity</th>


            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="overComplexityFunc in currentFileMetric.overComplexFunctions">

                <td>{{overComplexityFunc}}</td>
            </tr>

            </tbody>
        </table>

    </div>
</section>