<section>
    <!--table-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>function name</th>
                <th>functions over 50 lines</th>
                <th>functions over 10 complexity</th>

            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="metric in file.metrics">

                <td>{{metric.name}}</td>
                <td>{{metric.overlined}}</td>
                <td>{{file.}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</section>