<section data-ng-controller="ProjectsController" data-ng-init="calculateTotalBadFunc()">
    <!--table-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>

                <th>functions over 50 lines</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="f in overLinedFunc">

                <td>{{f}}</td>
            </tr>

            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
            <tr>

                <th>functions over 10 complexity</th>


            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="f in overComplexityFunc">

                <td>{{f}}</td>
            </tr>

            </tbody>
        </table>

    </div>
</section>