
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../JS/upload.client.js"></script>
    <title>

        Xing Zhou &middot Software Engineer from Syracuse.

    </title>

    <!--<link rel="stylesheet" href="../CSS/index_styles.css">-->
    <!--<link rel="shortcut icon" href="../img/favicon.png">-->
    <!--<link rel="alternate" type="application/atom+xml" title="Xing Zhou" href="/atom.xml">-->
</head>


<body>
    <input type="file" name="file" multiple="multiple" id="file_input" />
    <button type="button" onclick="uploadFiles()">Submit</button>
    <!--<input type="submit" value="Upload" />-->
</form>


</body>
</html>
