footer {
    /* 設定footer的高度 */
    height: 40px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;

}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 90px;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.upload-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.metrics-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.dependency-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

a.file-link{
    height: 100%;

    text-align: center;
    background: #eee;
    font-size: 200%;
}
