<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="./projectDetail/projectDetail.client.css" rel="stylesheet">

    <h1 data-ng-bind="user.name">'s Project Collection</h1>

    <!-- Page Content -->
    <div class="container">

        <div class="row">


            <ul>
                <!-- The list of projects -->
                <li data-ng-repeat="project in user.projects">
                    <a data-ng-href="#!/projects/{{project._id}}" data-ng-bind="project.name"></a>
                    <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
                    <!--<a class="thumbnail" href="#">-->
                    <!--<img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
                    <!--</a>-->
                    <!--</div>-->
                </li>
            </ul>
            <!-- If there are no articles in the list, suggest the user's create a new article -->
            <div data-ng-hide="!projects || projects.length">
                No articles yet, why don't you <a href="/#!">upload one</a>?
            </div>
        </div>

        <hr>


    </div>
    <!-- /.container -->

</section>