<section id="upload" class="upload-section" ng-controller="uploadController">
    <link href="./upload/css/upload.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>C++ Code Master</h1>
                <div class="Intro">
                    <p><strong>Usage Instructions:</strong></p>
                    <p>Upload source files in a C++ project, <br> the website
                        will show the metrics information for you!</p>
                    <p>You can select your C++ source files for multiple times.<br><br>
                        Each time, you can select multiple files. <br><br>
                        After you are done, please click 'Submit' button</p>
                </div>
                <!--<input type="file" name="uploadCppFiles" id="file_input" multiple />-->
                <!--<div class="form-group col-md-12 has-feedback" id="file">-->
                <!--<label for="" class="control-label col-md-4">Choose all files in your project:</label>-->
                <!--<div class="col-md-4 input-group">-->
                <!--<input id="lefile" type="file" style="display:none" multiple webkitdirectory>-->
                <!--<span class="input-group-addon" onclick="$('input[id=lefile]').click();" style="cursor: pointer; background-color: #e7e7e7"><i class="fa fa-folder-open"></i>Browse</span>-->
                <!--<input id="photoCover" class="form-control" type="text">-->
                <!--<span class="fa fa-download form-control-feedback" style="cursor: pointer;pointer-events: auto;"></span>-->
                <!--</div>-->
                <!--</div>-->


                <br>
                <label for="projectNameTextField">Project Name * : </label>
                <input id="projectNameTextField" type="text" name="projectName" placeholder="">

                <div class="buttonArea">
                    <input id="file_input" type="file" style="display:none" multiple>
                    <span class="input-append">
                    <!--<input id="photoCover" class="input-large" type="text" style="height:30px;width: 300px;">-->
                    <a class="btn" onclick="$('input[id=file_input]').click();">Select C++ files</a>
                </span>

                    <button id="submitButton" type="button">Submit</button>
                </div>

                <textarea id="fileNameTextarea" disabled name="fileNameTextarea"
                          laceholder="selected file name will be presented here"></textarea>


            </div>
        </div>
    </div>


    <script type="text/javascript" src="./upload/JS/upload.client.js"></script>
</section>