<section id="upload" class="upload-section" ng-controller="uploadController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>C++ Code Master</h1>
                <p><strong>Usage Instructions:</strong> upload all the *.h, *.cpp files in a C++ project, the server
                    will store and display all the file content, anaylze and show the metrics and dependency
                    relationship information for you</p>
                <br><br><br><br>
                <!--<input type="file" name="uploadCppFiles" id="file_input" multiple />-->
                <!--<div class="form-group col-md-12 has-feedback" id="file">-->
                <!--<label for="" class="control-label col-md-4">Choose all files in your project:</label>-->
                <!--<div class="col-md-4 input-group">-->
                <!--<input id="lefile" type="file" style="display:none" multiple webkitdirectory>-->
                <!--<span class="input-group-addon" onclick="$('input[id=lefile]').click();" style="cursor: pointer; background-color: #e7e7e7"><i class="fa fa-folder-open"></i>Browse</span>-->
                <!--<input id="photoCover" class="form-control" type="text">-->
                <!--<span class="fa fa-download form-control-feedback" style="cursor: pointer;pointer-events: auto;"></span>-->
                <!--</div>-->
                <!--</div>-->


                <input id="file_input" type="file" style="display:none" multiple>
                <div class="input-append">
                    <input id="photoCover" class="input-large" type="text" style="height:30px;width: 300px;">
                    <a class="btn" onclick="$('input[id=file_input]').click();">Browse</a>
                </div>
                <br>

                <input type="text" name="projectName" placeholder="please enter your project name here"
                       style="height:30px;width: 300px;">


                <br><br>
                <button type="button" onclick="uploadFiles()">Submit</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('input[id=file_input]').change(function() {
//                $('#photoCover').val($(this).val());
            $('#photoCover').val("Now, Please click submit button");
        });
    </script>

</section>