<section data-ng-controller="PlaygroundController">
    <style type="text/css" media="screen">
        /*#code {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*}*/
        #submit_input {
            margin:20px 20px;
            width:200px;
            float: right;
        }
        #outputField {
            margin:60px 20px;
        }
    </style>
    <form data-ng-submit="create()" novalidate>
        <!--code input box, must provide height, otherwise won't show-->
        <pre id="code" class="ace_editor" style="min-height:400px">
	        <textarea class="ace_text-input">
 // Currently, only C++ code is supported.
 #include &ltstring&gt
 using namespace std;
 int main() {
   cout << "hello guys in DO course";
   return 0;
 }
             </textarea>
        </pre>
        <input id='submit_input' type="submit" value="Run">

    </form>
    <!-- The error message element -->
    <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
    </div>
    <div id="outputField" data-ng-show="complieOutput || runOutput">
        <p>Output:</p>
        <p>==================================================</p>
        <p data-ng-bind="complieOutput" ></p>
        <p data-ng-bind="runOutput" ></p>
    </div>
    <script>
        //init
        let editor = ace.edit("code");

        //language and themes (for github ref)
        let theme = "clouds"
        let language = "c_cpp"
        editor.setTheme("ace/theme/" + theme);
        editor.session.setMode("ace/mode/" + language);

        // font size
        editor.setFontSize(18);

        //read only?
        editor.setReadOnly(false);

        //自动换行,设置为off关闭
        editor.setOption("wrap", "free")

        //启用提示菜单
        ace.require("../../public/lib/ace/ext/language_tools");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
    </script>

</section>


