<section data-ng-controller="ProjectsController" data-ng-init="find()">

    <link href="./project/thumbnail-gallery.css" rel="stylesheet">

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!--<div class="col-lg-12">-->
                <!--<h1 class="page-header">Your Project Collection</h1>-->
            <!--</div>-->
            <ul>
                <!-- The list of projects -->
                <li data-ng-repeat="project in projects">
                    <a data-ng-href="#!/projects/{{project._id}}" data-ng-bind="project.name"></a>
                    <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
                    <!--<a class="thumbnail" href="#">-->
                    <!--<img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
                    <!--</a>-->
                    <!--</div>-->
                </li>
            </ul>
            <!-- If there are no articles in the list, suggest the user's create a new article -->
            <div data-ng-hide="!projects || projects.length">
                No articles yet, why don't you <a data-ng-href="#!/">upload one</a>?
            </div>
        </div>

        <hr>


    </div>
    <!-- /.container -->


</section>