<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Store all the user uploaded C++ files">
    <meta name="author" content="Xing Zhou">


    <link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./CSS/upload.css" rel="stylesheet">

    <title>C++ file list</title>
</head>
<body>
<div ng-controller="upload">
    <h1>C++ File list:</h1>
    <ul ng-repeat="file in fileList">
        <li><a href=file>file</li>
    </ul>
</div>

<script type="text/javascript" src="./lib/angular/angular.js"></script>
<script type="text/javascript" src="./lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="./upload//Controller/upload.client.controller.js"></script>
<script type="text/javascript" src="./lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="./lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="application.js"></script>
</body>
</html>