<!DOCTYPE html>
<html lang="en" >

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Store and show metrics information for your cpp files">
    <meta name="author" content="Xing Zhou">

    <!--custom css-->
    <link href="./index/css/index.css" rel="stylesheet">


    <!--bootstrap css-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>cpp metrics analyzer</title>



</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body  ng-app="codeAnalyzer" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-target="home" href="#!/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a data-target="Home" href="#!/">home</a>
                </li>

                <li>
                    <a data-target="Projects" href="#!/projects">Projects</a>
                </li>
                <li>
                    <a data-target="Playground" href="#!/playground">Playground</a>
                </li>
                <li>
                    <a data-target="Community" href="#!/community">Community</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<!--body-->
<section ng-view></section>



<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Xing Zhou 2017</p>
        </div>
    </div>
</footer>








<script type="text/javascript" src="./upload/JS/upload.client.js"></script>
<!--jquery-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!--&lt;!&ndash;jquery easing&ndash;&gt;-->
<!--<script type="text/javascript" src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>-->
<!--<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" ' +-->
            <!--'src="./lib/jquery.easing.min.js"><\/script>')</script>-->


<script type="text/javascript" src="./lib/angular/angular.js"></script>
<script type="text/javascript" src="./lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="./lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="application.js"></script>



<script type="text/javascript" src="./index/index.client.module.js"></script>
<script type="text/javascript" src="./index/controller/index.client.controller.js"></script>
<script type="text/javascript" src="./index/routes/index.client.routes.js"></script>



<script type="text/javascript" src="/project/projects.client.module.js"></script>
<script type="text/javascript" src="/project/controller/projects.client.controller.js"></script>
<script type="text/javascript" src="/project/service/projects.client.service.js"></script>
<script type="text/javascript" src="/project/routes/projects.client.routes.js"></script>


<script type="text/javascript" src="/playground/playground.client.module.js"></script>
<script type="text/javascript" src="/playground/controller/playground.client.controller.js"></script>
<script type="text/javascript" src="/playground/service/playground.client.service.js"></script>

<script type="text/javascript" src="/community/users.client.module.js"></script>
<script type="text/javascript" src="/community/controller/users.client.controller.js"></script>
<script type="text/javascript" src="/community/service/users.client.service.js"></script>
<script type="text/javascript" src="/community/routes/users.client.routes.js"></script>

<!--for playground.client.view.html-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript"
        charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js" type="text/javascript"
        charset="utf-8"></script>

<!--for playground.client.view.html-->
</body>

</html>





