<!--<!DOCTYPE html>-->
<!--<html lang="en" >-->

<!--<head>-->

    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <!--<meta name="description" content="Store and show metrics information for your cpp files">-->
    <!--<meta name="author" content="Xing Zhou">-->


    <!--<link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="./upload/CSS/upload.css" rel="stylesheet">-->
    <!--&lt;!&ndash; jQuery &ndash;&gt;-->
    <!--<script src="./lib/jquery/dist/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
    <!--<script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>-->

    <!--<title>cpp metrics analyzer</title>-->

    <!--&lt;!&ndash; Custom CSS &ndash;&gt;-->





<!--</head>-->

<!--&lt;!&ndash; The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function &ndash;&gt;-->

<!--<body  ng-app="codeAnalyzer" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">-->

<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header page-scroll">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand page-scroll" data-target="home" href="#!/">Home</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--&lt;!&ndash; Hidden li included to remove active class from about link when scrolled up past about section &ndash;&gt;-->
                <!--<li class="hidden">-->
                    <!--<a class="page-scroll" data-target="home" href="#!/">home</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a class="page-scroll" data-target="metrics" href="#!metrics">Metrics</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="page-scroll" data-target="dependency" href="#!dependency">Dependency</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</nav>-->


<!--<section ng-view></section>-->
<!--&lt;!&ndash; Intro Section &ndash;&gt;-->




<!--&lt;!&ndash; metrics Section &ndash;&gt;-->
<!--&lt;!&ndash;<section id="metrics" class="metrics-section">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-lg-12"  ng-app="codeAnalyzer" ng-controller="upload">&ndash;&gt;-->

        <!--&lt;!&ndash;<div>&ndash;&gt;-->
            <!--&lt;!&ndash;<h1>C++ File list:</h1>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="./localhost/testBadFile1.cpp.html" class="file-link">testBadFile1.cpp</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="./localhost/testBadFile2.cpp.html" class="file-link">testBadFile2.cpp</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="./localhost/testGoodFile1.h.html" class="file-link">testGoodFile1.h</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="./localhost/testGoodFile2.h.html" class="file-link">testGoodFile2.h</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->



<!--&lt;!&ndash;&lt;!&ndash; dependency Section &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<section id="dependency" class="dependency-section">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-lg-12">&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Contact Section</h1>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->



<!--<script src="./upload/JS/jquery.easing.min.js"></script>-->
<!--<script src="./upload/JS/upload.client.js"></script>-->

<!--<script type="text/javascript" src="./lib/angular/angular.js"></script>-->
<!--<script type="text/javascript" src="./lib/angular-route/angular-route.js"></script>-->
<!--<script type="text/javascript" src="application.js"></script>-->


<!--<script type="text/javascript" src="./upload/upload.client.module.js"></script>-->
<!--<script type="text/javascript" src="./upload/controller/upload.client.controller.js"></script>-->
<!--<script type="text/javascript" src="./upload/config/upload.client.routes.js"></script>-->



<!--<script>-->
<!--//    var app = angular.module('codeAnalyzer', []);-->
<!--//    app.controller('upload', function($scope) {-->
<!--//        $scope.finished = "no";-->
<!--//        $scope.fileList = [];-->
<!--//        let files = getCppFilePaths();-->
<!--//        for (let f of files) {-->
<!--//            let fileInfo = {};-->
<!--//            fileInfo.name = f;-->
<!--//            $scope.fileList.push(fileInfo);-->
<!--//        }-->
<!--//-->
<!--//    })-->
<!--//-->
<!--//    const getCppFilePaths = function() {-->
<!--//        fs.readdir(__dirname + "/../../../userUploadFiles/cppFiles/localhost", function(err, files) {-->
<!--//            if (err) {-->
<!--//                console.log(err);-->
<!--//                return;-->
<!--//            }-->
<!--//-->
<!--//            let results = [];-->
<!--//            files.forEach(function (filename) {-->
<!--//                results.push(filename);-->
<!--//            });-->
<!--//            return results;-->
<!--//        });-->
<!--//    }-->

<!--</script>-->
<!--</body>-->

<!--</html>-->





